# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Env
.env
.env.*
!.env.example

# OS/Editor
.DS_Store
Thumbs.db

# Logs
*.log

# Node (se usar no futuro)
node_modules/

# Saídas/exports locais
saida/
exports/
